# ignore build
computer-database/target/

# ignore .project
computer-database/.project

# ignore settings
computer-database/.settings/

#ignore classpath
computer-database/.classpath

#ignore jdbc properties
computer-database/src/main/resources/jdbc.properties
computer-database/src/test/resources/jdbc.properties

#ignore metadata
.metadata/
