# ignore build
cdb/target/

# ignore .project
cdb/.project

# ignore settings
cdb/.settings/

#ignore classpath
cdb/.classpath

#ignore jdbc properties
cdb/src/main/resources/jdbc.properties
cdb/src/test/resources/jdbc.properties

#ignore metadata
.metadata/

#ignore setting
Servers/.settings
